
{% extends 'layouts/layout_home.html' %}

{% block title %} {{ titulo }} {% endblock %}

{% block content %}
    <div id="content_ingresar">

        <h2>{{ titulo }}</h2>

        {% if messages %}
            {% for mensaje in messages %}
                <h3 class="mensaje">{{mensaje}}</h3>
            {% endfor %}
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}

            <div class="form_data">

                <div class="form_dato">
                    <div class="form_label">
                        <label for="nombre">Nombre:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="text" name="nombre" placeholder="Ingrese nombre" required />
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="descripcion">Descripción:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" ype="text" name="descripcion" placeholder="Ingrese descripción" required />
                    </div>
                </div>           
                
            </div>

            <br>
            <button class="button_normal"><a href="{% url 'url_objetos_gasto' %}">Atrás</a></button>
            <input class="input_in" type="submit" value="Ingresar" />

        </form>

    </div>
{% endblock %}