
{% extends 'layouts/layout_initial.html' %}

{% block title %}Lib ConSentido{% endblock %}

{% block content %}
    <div id="content_initial">

        {% if messages %}
            {% for mensaje in messages %}
                <h3 class="mensaje">{{mensaje}}</h3>
            {% endfor %}
        {% endif %}
        
        <ul>
            <li>
                <a class="text_initial" href="{% url 'url_login' %}">Ingresar</a>
            </li>
            <br>
            <li>
                <a class="text_initial" href="{% url 'url_register' %}">Registrarse</a>
            </li>    
        </ul>

    </div>
{% endblock %}