
{% extends 'layouts/layout_initial.html' %}

{% block title %}{{titulo}} - Lib ConS{% endblock %}

{% block content %}
    <div id="content_register">

        <h2>{{titulo}}</h2>

        {% if messages %}
            {% for mensaje in messages %}
                <h3 class="mensaje">{{mensaje}}</h3>
            {% endfor %}
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}

            <div class="form_data">

                <div class="form_dato">
                    <div class="form_label">
                        <label for="correo_electronico">Correo electrónico:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="text" name="correo_electronico" placeholder="Ingrese su correo electrónico" required/>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="nombre_usuario">Nombre de usuario:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="text" name="nombre_usuario" placeholder="Ingrese un nombre de usuario" required/>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="clave">Clave:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="password" name="clave" placeholder="Ingrese una clave" required/>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="tipo_documento_identidad">Tipo de documento de identidad:</label>
                    </div>
                    <div class="form_input">
                        <select class="input_large" name="tipo_documento_identidad" required>
                            {% for tipo in op_tipo %}
                                <option value={{tipo.id}}>{{tipo.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="documento_identidad">Documento de identidad:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="text" name="documento_identidad" placeholder="Ingrese su documento de identidad" required/>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="nombres">Nombres:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="text" name="nombres" placeholder="Ingrese su nombre completo" required/>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="apellidos">Apellidos:</label>
                    </div>
                    <div class="form_input">
                        <input class="input_large" type="text" name="apellidos" placeholder="Ingrese sus apellidos" required/>
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="cargo">Cargo:</label>
                    </div>
                    <div class="form_input">
                        <select class="input_large" name="cargo" required>
                            {% for cargo in op_cargo %}
                                <option value={{cargo.bd}}>{{cargo.human}}</option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>

                <div class="form_dato">
                    <div class="form_label">
                        <label for="dependencia">Dependencia:</label>
                    </div>
                    <div class="form_input">
                        <select class="input_large" name="dependencia" required>
                            {% for dependencia in op_dependencia %}
                                <option value={{dependencia.bd}}>{{dependencia.human}}</option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>

            </div>

            <br>
            <button class="button_normal"><a href="{% url 'url_initial' %}">Atrás</a></button>
            <input class="input_in" type="submit" value="Registrarse" />

        </form>

    </div>
{% endblock %}